﻿body {
	font-family:Arial, Helvetica, sans-serif;
	font-size:10pt;
	line-height:25px;
	text-align:justify;
	font-weight:100;
    background-color: #f8f8f8;
}

html {
    background-color: #f8f8f8 !important;
}

#page{
    margin-left: auto;
    margin-right: auto;
    width: 600px;
    min-height: 100%;
}

div{
	text-align:justify;
}

.form-control{
    border-radius:4px;
    width: 100%;
}

.div-form{
    margin : 5px;
}


.bnt-env{
    float: right;
}

.sessao{
    padding: 5px;
}

.code{
    overflow-y:auto;
    background-color: #fff;
    border: solid 2px #eee;
}

html, body{
    /* height: 100%; */
}


#conteudo{
    /* width: 340px;
    float: right; 
    margin-left: 20px; */
}

#funcionalidade{
    /* width: 240px; 
    float: left; */
    overflow: auto;
    max-height: 800px;
}

#conteudo pre {
    overflow: initial;
    font-size: 14px;
    line-height: 14px;
}

#conteudo h2, #conteudo h3 {
    font-size: 18px;
}

#opcoes {
    margin-top: 5px;
    margin-left: 5px;
    height: 500px;
}

.string { color: green; }
.number { color: darkorange; }
.boolean { color: blue; }
.null { color: magenta; }
.key { color: red; }

#esconder_funcionalidades {
    position: absolute;
    top: 50%;
    transform: translateY(50%);
    right: 0px;
    font-size: 24px;
    cursor: pointer;
}


#mostrar_funcionalidades {
    position: absolute;
    top: 50%;
    transform: translateY(50%);
    left: -30px;
    font-size: 24px;
    cursor: pointer;
    display: none;
}

#resultado pre {
    color: #fff;
}

#resultado {
    background-color: #000c13;
    padding: 20px;
    word-break: break-word;
    display: none;
    border-radius: 5px;
    margin-bottom: 20px;
}

.code-box {
    background-color: #000c13;
    padding: 20px;
    word-break: break-word;
    display: none;
    border-radius: 5px;
    margin-bottom: 20px;
    overflow: initial;
    font-size: 14px;
    line-height: 14px;
    color: #fff;
    font-family: monospace, serif;
}